.PromotionCard_promo-search__KtOev {
    background: url(https://www.hussle.com/search-spa/img/promo-search-bg.svg);
    background-color: #c1daeb;
    background-size: cover;
    border-radius: 5px;
    color: #2a2d36;
    display: -moz-box;
    display: flex;
    height: 100%;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 40px 70px;
    position: relative;
    text-align: center;
    -moz-box-pack: center;
    justify-content: center
}

@media(min-width:768px) {
    .PromotionCard_promo-search__KtOev {
        padding: 15px
    }
}

@media(min-width:992px) {
    .PromotionCard_promo-search__KtOev {
        padding: 0 70px
    }
}

@media(min-width:1200px) {
    .PromotionCard_promo-search__KtOev {
        padding: 0 35px
    }
}

@media(min-width:1440px) {
    .PromotionCard_promo-search__KtOev {
        padding: 0 40px
    }
}

.PromotionCard_promo-search--default__1Y5xy {
    background-color: #c1daeb;
    color: #2a2d36
}

.PromotionCard_promo-search--primary__31-Fl {
    background-color: #2a2d36;
    color: #fff
}

.PromotionCard_promo-search--primary__31-Fl .PromotionCard_promo-search__title__2NR9O {
    color: #fff
}

.PromotionCard_promo-search--secondary__1QHVM {
    background-color: #b4fa05;
    background-image: url(https://www.hussle.com/search-spa/img/promo-search-bg-secondary.svg)
}

.PromotionCard_promo-search__title__2NR9O {
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 30px
}

@media(min-width:768px) {
    .PromotionCard_promo-search__title__2NR9O {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px
    }
}

@media(min-width:1440px) {
    .PromotionCard_promo-search__title__2NR9O {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px
    }
}

.PromotionCard_promo-search__action__T_n8y {
    margin: 0 auto
}

.PassPromo_promo__1pe1b {
    background-color: rgba(88, 112, 116, .88);
    background-image: url(https://www.hussle.com/search-spa/img/pass-promo-bg.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    height: 100%;
    -moz-box-pack: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center
}

@media(min-width:768px) {
    .PassPromo_promo__1pe1b {
        padding: 0
    }
}

.PassPromo_promo__upper__2WTuW {
    padding: 0 15px
}

.PassPromo_promo__logo__16WrI {
    height: 50px;
    width: 50px
}

@media(min-width:768px) {
    .PassPromo_promo__logo__16WrI {
        height: 80px;
        width: 80px
    }
}

.PassPromo_promo__logos__wiBGS {
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    margin-bottom: 15px
}

@media(min-width:768px) {
    .PassPromo_promo__logos__wiBGS .PassPromo_promo__logo__16WrI {
        height: 70px;
        width: 70px
    }
}

.PassPromo_promo__x__1qGhM {
    height: 16px;
    margin-left: 15px;
    margin-right: 15px
}

.PassPromo_promo__x__1qGhM svg {
    fill: #9db3bb;
    height: 16px;
    width: 16px
}

.PassPromo_promo__title__2ak4Y {
    color: #fff;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 5px
}

@media(min-width:768px) {
    .PassPromo_promo__title__2ak4Y {
        margin-bottom: 10px
    }
}

@media(min-width:992px) {
    .PassPromo_promo__title__2ak4Y {
        font-size: 45px;
        margin-bottom: 0
    }
}

@media(min-width:1200px) {
    .PassPromo_promo__title__2ak4Y {
        font-size: 40px
    }
}

@media(min-width:1440px) {
    .PassPromo_promo__title__2ak4Y {
        font-size: 45px
    }
}

.PassPromo_promo__text__3gS2W {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 0
}

@media(min-width:768px) {
    .PassPromo_promo__text__3gS2W {
        font-size: 18px
    }
}

@media(min-width:992px) {
    .PassPromo_promo__text__3gS2W {
        font-size: 22px
    }
}

@media(min-width:1200px) {
    .PassPromo_promo__text__3gS2W {
        font-size: 20px
    }
}

@media(min-width:1440px) {
    .PassPromo_promo__text__3gS2W {
        font-size: 22px
    }
}

.PassPromo_promo__list__27ZbE {
    border-bottom: 1px solid #d8e1e4;
    border-top: 1px solid #d8e1e4;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    list-style-type: none;
    margin: 20px;
    padding: 5px 0 15px;
    text-align: left
}

@media(min-width:768px) {
    .PassPromo_promo__list__27ZbE {
        margin: 30px 25px 25px;
        max-width: none
    }
}

@media(min-width:992px) {
    .PassPromo_promo__list__27ZbE {
        font-size: 20px
    }
}

@media(min-width:1200px) {
    .PassPromo_promo__list__27ZbE {
        font-size: 16px
    }
}

@media(min-width:1440px) {
    .PassPromo_promo__list__27ZbE {
        font-size: 20px;
        margin: 30px 25px
    }
}

.PassPromo_promo__list-item__iDyza {
    background: transparent url(https://www.hussle.com/search-spa/img/tick.svg) no-repeat left top 10px;
    background-position: left top 8px;
    background-size: 25px 25px;
    padding: 8px 0 8px 35px
}

@media(min-width:1440px) {
    .PassPromo_promo__list-item__iDyza {
        background-size: 30px 30px;
        background-position: left top 10px;
        padding: 10px 0 10px 50px
    }
}

.PassPromo_promo__apps__2B2BH {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -moz-box;
    display: flex;
    flex-wrap: nowrap;
    -moz-box-pack: center;
    justify-content: center
}

.PassPromo_promo__app__16FtR {
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    display: flex;
    text-align: left;
    width: 135px;
    margin: 0 15px 0 0
}

@media(min-width:768px) {
    .PassPromo_promo__app__16FtR {
        margin: 0 5px
    }
}

@media(min-width:992px) {
    .PassPromo_promo__app__16FtR {
        margin: 0 15px
    }
}

@media(min-width:1200px) {
    .PassPromo_promo__app__16FtR {
        margin: 0 5px
    }
}

@media(min-width:1440px) {
    .PassPromo_promo__app__16FtR {
        margin: 0 15px
    }
}

.PassPromo_promo__app-title__2XQfK {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0
}

.PassPromo_promo__app-logo__39Qf0 {
    display: block;
    height: 40px;
    margin-right: 10px;
    width: 40px
}

@media(min-width:1200px) {
    .PassPromo_promo__app-logo__39Qf0 {
        height: 40px;
        margin-right: 10px;
        width: 40px
    }
}

.PassPromo_promo__footer__npbLf {
    font-size: 24px;
    font-weight: 600;
    margin: 0
}

@media(min-width:992px) {
    .PassPromo_promo__footer__npbLf {
        font-size: 30px
    }
}

@media(min-width:1200px) {
    .PassPromo_promo__footer__npbLf {
        font-size: 24px
    }
}

@media(min-width:1440px) {
    .PassPromo_promo__footer__npbLf {
        font-size: 30px
    }
}

.PassPromo_promo__footer--commercial__FtJVW {
    color: #b4fa05;
    font-size: 18px;
    padding: 0 15px
}

@media(min-width:992px) {
    .PassPromo_promo__footer--commercial__FtJVW {
        font-size: 20px
    }
}

.Pagination_pagination__1EZNr {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative
}

.Pagination_pagination__item__2JdZJ {
    display: none;
    margin: 0 5px
}

@media(min-width:576px) {
    .Pagination_pagination__item__2JdZJ {
        display: inline-block
    }
}

.Pagination_pagination__item--next__3KOCw,
.Pagination_pagination__item--prev__1ql5_ {
    display: inline-block;
    position: absolute;
    top: 0
}

@media(min-width:576px) {
    .Pagination_pagination__item--next__3KOCw,
    .Pagination_pagination__item--prev__1ql5_ {
        position: relative;
        top: 2px
    }
}

.Pagination_pagination__item--next__3KOCw {
    right: 0;
    margin-right: 0
}

.Pagination_pagination__item--prev__1ql5_ {
    left: 0;
    margin-left: 0
}

.Pagination_pagination__link__3A2Ih {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    font-family: EuclidCircularB, sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    line-height: 28px;
    -webkit-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
    width: 30px;
    cursor: pointer
}

.Pagination_pagination__link__3A2Ih:active,
.Pagination_pagination__link__3A2Ih:focus,
.Pagination_pagination__link__3A2Ih:hover {
    border: 1px solid #9db3bb
}

.Pagination_pagination__link--current__3TQDU {
    background-color: #2a2d36;
    color: #fff;
    cursor: default
}

.Pagination_pagination__link--current__3TQDU:active,
.Pagination_pagination__link--current__3TQDU:focus,
.Pagination_pagination__link--current__3TQDU:hover {
    border: 1px solid #2a2d36
}

.Pagination_pagination__link--next__3wk6O,
.Pagination_pagination__link--prev__1zEbS {
    border: 1px solid #2a2d36;
    border-radius: 2px;
    font-size: 28px;
    font-weight: 200;
    line-height: 24px
}

.Pagination_pagination__link--ellipsis__J3Ruo {
    cursor: default;
    pointer-events: none
}

.Pagination_pagination__link--ellipsis__J3Ruo:active,
.Pagination_pagination__link--ellipsis__J3Ruo:focus,
.Pagination_pagination__link--ellipsis__J3Ruo:hover {
    border: 1px solid transparent;
    color: #2a2d36
}

.Pagination_pagination__text__3NRWa {
    font-size: 16px;
    margin-top: 5px
}

@media(min-width:576px) {
    .Pagination_pagination__text__3NRWa {
        margin-top: 8px
    }
}

.Pagination_pagination__showing__tthnk {
    display: none
}

@media(min-width:768px) {
    .Pagination_pagination__showing__tthnk {
        display: inline
    }
}

.Pagination_pagination__container__1rpkD {
    text-align: center
}

.SearchInput_autocomplete__inner__2tUfR {
    -moz-box-flex: 1;
    flex-grow: 1;
    position: relative
}

.SearchInput_autocomplete__input__3cOHM {
    border: none;
    border-bottom: 1px solid #2a2d36;
    font-family: EuclidCircularB, sans-serif;
    font-size: 16px;
    line-height: 1em;
    padding-bottom: 6px;
    padding-right: 20px;
    width: 100%
}

@media(min-width:768px) {
    .SearchInput_autocomplete__input__3cOHM {
        font-size: 22px;
        padding-bottom: 8px;
        padding-right: 30px
    }
}

.SearchInput_autocomplete__input__3cOHM:focus {
    outline: none
}

.SearchInput_autocomplete__input-clear__3XYX4 {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    padding: 5px 0 5px 5px;
    position: absolute;
    right: 0;
    top: -3px
}

@media(min-width:768px) {
    .SearchInput_autocomplete__input-clear__3XYX4 {
        top: 0
    }
}

@media(min-width:992px) {
    .SearchInput_autocomplete__input-clear__3XYX4 {
        top: 2px
    }
}

.SearchInput_autocomplete__input-clear__3XYX4 svg {
    fill: #9db3bb;
    height: 20px;
    width: 20px
}

.SearchInput_autocomplete__suggestion-list__sD6FR {
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .1);
    left: 0;
    list-style: none;
    margin: 0;
    max-height: 290px;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 5
}

@media(min-width:768px) {
    .SearchInput_autocomplete__suggestion-list__sD6FR {
        max-height: 290px;
        top: 40px
    }
}

.SearchInput_autocomplete__suggestion-list-item__2PV0A {
    color: #2a2d36;
    cursor: pointer;
    line-height: 20px;
    padding: 8px 10px;
    text-align: left
}

@media(min-width:768px) {
    .SearchInput_autocomplete__suggestion-list-item__2PV0A {
        padding: 10px 15px
    }
}

.SearchInput_autocomplete__suggestion-list-item__2PV0A:hover {
    background-color: #ebf0f1
}

.Badge_badge__3RhTb {
    display: -moz-inline-box;
    display: inline-flex;
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
    width: 100%
}

.Badge_badge__value__1_7TZ {
    align-content: center;
    -moz-box-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: EuclidCircularB, sans-serif;
    font-weight: 600;
    font-size: 11px;
    height: 18px;
    -moz-box-pack: center;
    justify-content: center;
    line-height: 1;
    min-width: 18px;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: -webkit-transform 225ms cubic-bezier(.4, 0, .2, 1) 0ms;
    transition: -webkit-transform 225ms cubic-bezier(.4, 0, .2, 1) 0ms;
    transition: transform 225ms cubic-bezier(.4, 0, .2, 1) 0ms;
    transition: transform 225ms cubic-bezier(.4, 0, .2, 1) 0ms, -webkit-transform 225ms cubic-bezier(.4, 0, .2, 1) 0ms;
    -webkit-transform: scale(1) translate(50%, -50%);
    transform: scale(1) translate(50%, -50%);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    z-index: 1
}

.Badge_badge__value--default__3sErx {
    background-color: #d8e1e4;
    color: #2a2d36
}

.Badge_badge__value--primary__2eJj1 {
    background-color: #b4fa05;
    color: #2a2d36
}

.SearchBar_search-bar__2J7xp {
    background-color: #fff;
    font-size: 14px;
    margin-top: 15px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column
}

@media(min-width:768px) {
    .SearchBar_search-bar__2J7xp {
        font-size: 16px;
        margin-top: 20px;
        padding: 10px 20px 15px;
        text-align: left
    }
}

@media(min-width:992px) {
    .SearchBar_search-bar__2J7xp {
        -moz-box-align: end;
        align-items: flex-end;
        display: -moz-box;
        display: flex;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        -moz-box-pack: justify;
        justify-content: space-between;
        padding: 15px 35px 25px
    }
}

.SearchBar_search-bar__location__jEHbJ {
    -moz-box-flex: 1;
    flex-grow: 1;
    line-height: 26px;
    width: 100%
}

@media(min-width:992px) {
    .SearchBar_search-bar__location__jEHbJ {
        line-height: 36px;
        max-width: 475px
    }
}

@media(min-width:1200px) {
    .SearchBar_search-bar__location__jEHbJ {
        max-width: 585px
    }
}

@media(min-width:768px) {
    .SearchBar_search-bar__location-mobile__2WC9h {
        display: none
    }
}

.SearchBar_search-bar__location-desktop__1SHiS {
    display: none
}

@media(min-width:768px) {
    .SearchBar_search-bar__location-desktop__1SHiS {
        display: inline
    }
}

.SearchBar_search-bar__options__2qZq0 {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-top: 20px
}

@media(min-width:992px) {
    .SearchBar_search-bar__options__2qZq0 {
        margin-top: 0
    }
}

@media(max-width:991px) {
    .SearchBar_search-bar__options--no-map__29ttU {
        -moz-box-pack: end;
        justify-content: flex-end
    }
    .SearchBar_search-bar__options--no-map__29ttU .SearchBar_search-bar__filter-option__KsNxO {
        margin-left: 1em
    }
}

.SearchBar_search-bar__filter-option__KsNxO {
    position: relative;
    width: -webkit-calc(33% - 10px);
    width: calc(33% - 10px)
}

@media(min-width:992px) {
    .SearchBar_search-bar__filter-option__KsNxO {
        margin-left: 1em;
        width: 110px
    }
}

.SearchBar_search-bar__sort-button__3PgS_ {
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 10px 12px 32px;
    text-align: left;
    width: 100%
}

.SearchBar_search-bar__sort-button--selected__30CzF {
    background: transparent url(https://www.hussle.com/search-spa/img/tick-plain.svg) no-repeat left 10px center
}

.SearchBar_search-bar__toggle__bMtme {
    border-width: 1px;
    font-size: 13px;
    height: 36px;
    width: 100%
}

@media(min-width:768px) {
    .SearchBar_search-bar__toggle__bMtme {
        font-size: 14px;
        height: 39px;
        padding-left: 14px;
        padding-right: 14px
    }
}

.SearchBar_search-bar__toggle-inner__3eFXe {
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between
}

.SearchBar_search-bar__toggle__bMtme svg {
    fill: #2a2d36;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.SearchBar_search-bar__toggle__bMtme:active svg,
.SearchBar_search-bar__toggle__bMtme:focus svg,
.SearchBar_search-bar__toggle__bMtme:hover svg {
    fill: #fff
}

.SearchBar_search-bar__toggle--filters__1S0Rb svg {
    height: 14px;
    width: 18px
}

.SearchBar_search-bar__toggle--view__nDv7a svg {
    height: 24px;
    width: 19px
}

.SearchBar_search-bar__toggle--sort__3L_Ik svg {
    height: 10px;
    width: 16px
}

.SearchBar_search-bar__toggle--open__MQZnA {
    background-color: #2a2d36;
    color: #fff
}

.SearchBar_search-bar__toggle--open__MQZnA svg {
    fill: #fff
}

.SearchBar_search-bar__autocomplete__1_W9J {
    display: -moz-box;
    display: flex;
    margin-top: 5px
}

@media(min-width:992px) {
    .SearchBar_search-bar__autocomplete__1_W9J {
        margin-top: 0
    }
}

.SearchBar_search-bar__autocomplete-submit__3p8F6 {
    -moz-box-flex: 0;
    flex-grow: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    margin-left: 20px;
    padding: 3px 10px;
    width: 94px
}

.SearchBar_search-bar__autocomplete-submit-inner__1onXo {
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    display: flex
}

.SearchBar_search-bar__autocomplete-submit__3p8F6 svg {
    fill: #fff;
    height: 19px;
    margin-right: 8px;
    width: 17px
}

@media(min-width:768px) {
    .SearchBar_search-bar__autocomplete-submit__3p8F6 {
        font-size: 14px;
        padding: 5px 10px
    }
}

@media(min-width:992px) {
    .SearchBar_search-bar__autocomplete-submit__3p8F6 {
        width: auto
    }
}

.SearchBar_search-bar__dropdown__pMBe7 {
    background: #ebf0f1;
    font-size: 13px;
    height: auto;
    position: absolute;
    right: 0;
    top: 36px;
    width: 170px;
    z-index: 4
}

@media(min-width:768px) {
    .SearchBar_search-bar__dropdown__pMBe7 {
        top: 39px
    }
}

.SearchBar_search-bar__dropdown-link__1d2Xo {
    background-color: #d8e1e4;
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    text-align: left;
    width: 100%
}

.SearchBar_search-bar__dropdown-checkbox__1ITZW {
    margin-bottom: 15px
}

.SearchBar_search-bar__dropdown-checkbox__1ITZW span label {
    font-size: 13px;
    font-weight: 600
}

.SearchBar_search-bar__dropdown-checkboxes__3Fdg- {
    padding: 20px 0 0 10px
}

.SearchBar_search-bar__dropdown-sort__2fTMw {
    padding: 13px 0 8px
}

.ToggleButton_toggle-button__NNEXU {
    background: #fff;
    border: 1px solid #587074;
    border-radius: 20px;
    color: #2a2d36;
    font-size: 11px;
    height: 33px;
    padding: 5px 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ToggleButton_toggle-button__NNEXU:hover {
    color: #2a2d36
}

.ToggleButton_toggle-button__NNEXU:active,
.ToggleButton_toggle-button__NNEXU:focus {
    background: #fff;
    border-color: #9db3bb;
    color: #2a2d36
}

@media(min-width:768px) {
    .ToggleButton_toggle-button__NNEXU {
        font-size: 14px;
        padding: 5px 25px;
        height: 38px
    }
}

@media(min-width:992px) {
    .ToggleButton_toggle-button__NNEXU:hover {
        background-color: #2a2d36;
        border-color: #2a2d36;
        color: #fff
    }
}

.ToggleButton_toggle-button__NNEXU.ToggleButton_is-selected__3TD0H {
    background: -webkit-linear-gradient(337deg, #23262d 50%, #2a2d36 0);
    background: linear-gradient(113deg, #23262d 50%, #2a2d36 0);
    border-color: #2a2d36;
    color: #fff
}

.Slider_slider__1uqEa {
    margin: 30px 0;
    position: relative
}

@media(min-width:768px) {
    .Slider_slider__1uqEa {
        margin: 60px 0 80px
    }
}

.Slider_slider__input__2xO8L {
    -webkit-appearance: none;
    margin: 14px auto;
    padding: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    width: 100%
}

.Slider_slider__input__2xO8L:focus {
    outline: none
}

.Slider_slider__input__2xO8L::-webkit-slider-thumb {
    background: #2a2d36;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    -webkit-appearance: none;
    margin-top: -14px
}

.Slider_slider__input__2xO8L::-webkit-slider-runnable-track {
    background: #9db3bb;
    cursor: pointer;
    height: 4px;
    width: 100%
}

.Slider_slider__input__2xO8L::-moz-range-thumb {
    background: #2a2d36;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px
}

.Slider_slider__input__2xO8L::-moz-range-track {
    background: #9db3bb;
    cursor: pointer;
    height: 4px;
    width: 100%
}

.Slider_slider__input__2xO8L::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 14px 0;
    color: transparent;
    cursor: pointer;
    height: 4px;
    width: 100%
}

.Slider_slider__input__2xO8L::-ms-fill-lower,
.Slider_slider__input__2xO8L::-ms-fill-upper {
    background: #9db3bb
}

.Slider_slider__input__2xO8L::-ms-thumb {
    background: #2a2d36;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px
}

.Slider_slider__input__2xO8L:focus::-ms-fill-lower,
.Slider_slider__input__2xO8L:focus::-ms-fill-upper {
    background: #9db3bb
}

.Slider_slider__increments__3wLWp {
    display: -moz-box;
    display: flex;
    font-size: 14px;
    -moz-box-pack: justify;
    justify-content: space-between;
    line-height: 14px
}

.Slider_slider__label__1p7H9 {
    color: #2a2d36;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px
}

.Slider_slider__floating-label__HHRH3 {
    background-color: #b4fa05;
    border-radius: 4px;
    color: #2a2d36;
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    padding: 10px 4px;
    text-align: center;
    top: -46px;
    white-space: nowrap
}

.Slider_slider__floating-label__HHRH3,
.Slider_slider__floating-label__HHRH3:after {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

.Slider_slider__floating-label__HHRH3:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid #b4fa05;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 100%;
    margin-top: -1px
}

.FiltersMenu_filters__2L7pu {
    background-color: #fff;
    bottom: 0;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    flex-direction: column-reverse;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 12
}

@media(max-width:991px) {
    .FiltersMenu_filters--hide-scroll__3Ry2L {
        overflow-y: hidden
    }
}

.FiltersMenu_filters__overlay__mBElK {
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.FiltersMenu_filters__overlay--opaque__1FWbg {
    opacity: .3
}

@media(min-width:992px) {
    .FiltersMenu_filters__2L7pu {
        display: block;
        margin-bottom: 30px;
        position: relative;
        top: 20px
    }
}

.FiltersMenu_filters__actions__3q_8A {
    background-color: #fff;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .12);
    padding: 10px 20px
}

@media(min-width:992px) {
    .FiltersMenu_filters__actions__3q_8A {
        -webkit-box-shadow: none;
        box-shadow: none;
        display: -moz-box;
        display: flex;
        -moz-box-pack: end;
        justify-content: flex-end;
        padding: 20px
    }
}

.FiltersMenu_filters__button__AU7vJ {
    display: block;
    margin: 10px auto;
    width: 100%
}

@media(min-width:992px) {
    .FiltersMenu_filters__button__AU7vJ {
        display: inline-block;
        margin: 0 0 0 10px;
        width: auto
    }
}

.FiltersMenu_filters__title__K4j9l {
    font-size: 16px;
    margin: 18px 0 12px;
    position: relative
}

.FiltersMenu_filters__options__1eFJ5 {
    -moz-box-flex: 1;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px
}

.FiltersMenu_filters__toggle__3XY7J {
    margin: 0 6px 9px 0
}

.FiltersMenu_filters__toggle__3XY7J[disabled] {
    border-color: #587074;
    opacity: 1
}